<?xml version="1.0"?>
<!--
/**
 * Stetic Analytics Magento Extension
 *
 * @category    Stetic
 * @package     Stetic_Analytics
 * @copyright   Copyright (c) 2014 Stetic (http://www.stetic.com/)
 * @license     http://www.gnu.org/licenses/gpl-3.0.html GPL v3 or later
 */
-->
<config>
    <modules>
        <Stetic_Analytics>
            <version>0.1.0</version>
        </Stetic_Analytics>
    </modules>
    <default>
        <stetic_analytics>
            <settings>
                <enabled>1</enabled>
                <site_token></site_token>
                <api_key></api_key>
                <cookie_domain></cookie_domain>
            </settings>
            <advanced>
                <identify_loggedin>1</identify_loggedin>
                <identify_loggedin_disallow_specific>0</identify_loggedin_disallow_specific>
                <cart_tracking>1</cart_tracking>
                <order_tracking>1</order_tracking>
                <track_products_with_options>1</track_products_with_options>
                <wishlist_tracking>1</wishlist_tracking>
                <sendfriend_tracking>1</sendfriend_tracking>
                <search_tracking>1</search_tracking>
                <contact_form_tracking>1</contact_form_tracking>
                <account_create_tracking>1</account_create_tracking>
                <forgot_password_tracking>1</forgot_password_tracking>
                <newsletter_tracking>1</newsletter_tracking>
                <product_review_tracking>1</product_review_tracking>
                <product_compare_tracking>1</product_compare_tracking>
                <login_tracking>1</login_tracking>
                <account_actions_tracking>1</account_actions_tracking>
                <no_route_tracking>1</no_route_tracking>
            </advanced>
        </stetic_analytics>
    </default>
    <global>
        <models>
            <Stetic>
                <class>Stetic_Analytics_Model</class>
            </Stetic>
        </models>
        <blocks>
            <Stetic>
                <class>Stetic_Analytics_Block</class>
            </Stetic>
        </blocks>
        <helpers>
            <Stetic>
                <class>Stetic_Analytics_Helper</class>
            </Stetic>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <stetic>
                    <file>stetic.xml</file>
                </stetic>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <Stetic_Analytics_Model_Observer>
                        <class>Stetic/observer</class>
                        <method>controllerActionPredispatch</method>
                    </Stetic_Analytics_Model_Observer>
                </observers>
            </controller_action_predispatch>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <Stetic_Analytics_Model_Observer>
                        <class>Stetic/observer</class>
                        <method>checkoutMultishippingControllerSuccessAction</method>
                    </Stetic_Analytics_Model_Observer>
                </observers>
            </checkout_multishipping_controller_success_action>
            <newsletter_subscriber_save_after>
                <observers>
                    <Stetic_Analytics_Model_Observer>
                        <class>Stetic/observer</class>
                        <method>newsletterSubscriberSaveAfter</method>
                    </Stetic_Analytics_Model_Observer>
                </observers>
            </newsletter_subscriber_save_after>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <stetic_analytics>
                                            <title>Stetic</title>
                                        </stetic_analytics>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>